<h1 class='page_header' style="text-align : center">Excited to biring you back!<h1>

<div class='justify-content-center'>


</div>

<div class='justify-content-center'>
<%= form_for @user do |f| %>
<%= f.text_field :username, placeholder: "choose a username"%><br>
<%= f.password_field :username, placeholder: "password please..."%><br>
<%= f.submit :"login"%>
<% end %>
</div>
