<br>
<br>
<br>
<br>
<br>
<h1 class='display-3' style= "text-align : center">LogIn </h1>
<div class="d-flex justify-content-center">


<%=form_for :session, url: login_path do |f|%>

<%=f.text_field :username, :class => "form-control", :placeholder => "Your username"%><p>
<br>

<%=f.password_field :password , :placeholder => "Your password",:class => "form-control"%><p>

<%=f.submit "Login", :class => "btn btn-outline-primary btn-lg"%>

<% end %>
</div>