<hr color ='red'>
Welcome To Musically
<hr color ='red'>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>


<br>
<%=button_to "SignIn",  "/login", method: :get%><p>
<%=button_to "Create an account with Musically",  new_user_path, method: :get%>



