
<h1 class='display-3'style= 'text-align : center'> Lets create an account!</h1>
<div class='d-flex justify-content-center'>
<%= form_for @user do |f| %>
<%= render :partial => "form", :locals=>{:f=>f}%>
<% end %>
</div>
<br>
<br>
<% if flash[:errors] %>
<ul style='list-style:none;'>
<% flash[:errors].each do |error| %>
<h4 style='color:red;'><li>*<%=error%></li></h4>
<% end %>
  
<% end %>



