// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1, h2, h3, h4{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
p {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
#container {
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-around;
  }