<div class='d-flex justify-content-center'>
<%= form_for @playlist do |f| %>
    <%= f.text_field :title, :class => 'form-control-lg' , :placeholder => 'Playlist tilte'%><br>
    <%= f.text_field :user_id, :value => "#{@current_user.id}", :type => "hidden"%>
    <br>
    <%= f.submit :class => "btn btn-outline-success btn-lg"%>
<%end%>
</div>