<>

<h1>All Playlists</h1>
<%= link_to "Create a Playlist", new_playlist_path %>
<% @playlists.each do |playlist| %>
    <h2><%= link_to playlist.title, playlist_path(playlist) %></h2>
    <% playlist.songs.each do |song| %>
    <p>Name: <%= link_to song.name, song_path(song.id) %> - <%= song.artist %><br>
    <%end%><%end%></p>
